.background{
  background-image: url("../images/background_img.webp");
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  text-align: center;
  color: #333;

  &__logo {
    width: auto;
    height: auto;
  }
  &__title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  &__breadcrumbs {
    font-size: 0.9rem;
    color: black;
    a {
      color: black;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}