.card {
  border-radius: 10px;
  overflow: hidden;
  width: 380px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__title {
    font-size: 24px;
    text-align: center;
    padding: 1rem;
    color: #333;
  }
}