<header class="header">
    <div class="header__logo">
        <img src="./assets/images/logo.webp" class="header__logo__img">
        <span class="header__logo__title">Furniro</span>
    </div>
    <nav class="header__nav">
        <a href="./index.html" class="header__nav__link">Home</a>
        <a href="./index2.html" class="header__nav__link">Shop</a>
        <a href="" class="header__nav__link">About</a>
        <a href="" class="header__nav__link">Contact</a>
    </nav>
    <div class="header__img">
        <img src="./assets/images/user.webp" class="header__img__img">
        <img src="./assets/images/search.webp" class="header__img__img">
        <img src="./assets/images/like.webp" class="header__img__img">
        <img src="./assets/images/shop.webp" class="header__img__img">
    </div>
</header>