<div class="purchase">
  <div class="purchase__img-wrapper">
    <span class="purchase__mark @@classSale">@@text</span>
    <img src="@@purchaseImg.webp" alt="@@purchaseTitle" class="purchase__img">
    <div class="purchase__overlay">
      <button class="purchase__add-to-cart"><a href="/index3.html">Add to cart</a></button>
      <div class="purchase__actions">
        <a href="#" class="purchase__action"><i></i>Share</a>
        <a href="#" class="purchase__action"><i></i>Compare</a>
        <a href="#" class="purchase__action"><i></i> Like</a>
      </div>
    </div>
  </div>
  <div class="purchase__info">
    <h3 class="purchase__title">@@purchaseTitle</h3>
    <p class="purchase__description">@@purchaseDescription</p>
    <div class="purchase__price">
      <span class="purchase__current-price">Rp @@purchasePrice</span>
      @@if (purchaseSellPrice !== false) {
        <span class="purchase__old-price">Rp @@purchaseSellPrice</span>
      }
    </div>
  </div>
</div>